

/* style for each colum */
td:nth-child(1) {
  background: hsl(150, 50%, 50%);
}

#icon {
  width: 3.125rem;
  height: 3.25rem;
}

#skillName {
  width: 12.5rem;
  background-color: thistle;
  /* border-style: solid;
  border-color: #287EC7; */
  border-radius: 50%;
  text-align: center;
  height: 2rem;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

#skillName:hover{
  background-color: blueviolet;
  width: 14.06rem;
}

body {
  background-image: url("./images/5591276.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}

#skillsDiv{
  margin: auto;
  width: 50rem;
}

#skillButton{
width: fit-content;
/* background-color: #eb851e; */
background-color: white;
color:#eb851e;
border: none;
border-radius: 10%;
height: fit-content;
}